<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DirectShowLib" version="1.0.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.2" targetFramework="net472" />
  <package id="MaterialDesignExtensions" version="3.0.0" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="OpenCvSharp4" version="4.2.0.20200208" targetFramework="net472" />
  <package id="OpenCvSharp4.runtime.win" version="4.2.0.20200208" targetFramework="net472" />
  <package id="OpenCvSharp4.Windows" version="4.2.0.20200208" targetFramework="net472" />
  <package id="PeanutButter.INI" version="1.2.345" targetFramework="net472" />
  <package id="sqlSugar" version="5.0.0.12" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net472" />
  <package id="TinyMapper" version="3.0.3" targetFramework="net472" />
  <package id="Wpf.MVVMC" version="2.2.0" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.5" targetFramework="net472" />
</packages>